@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.code{
    margin-left: 15px;
    width: 100%;
    background-color: #323642;
    border: none;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    resize: none;
}
